/* making review container  */
#myReviewContainer{
    width: 60%;
}

/* container review  */
#mainContainerMyReview{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: space-around;
}